<!DOCTYPE html>
<html lang="uk">
<head>
  {{- partial "head.html" . -}}
</head>
<body class="font-body">
  <div class="grain"></div>
  <div id="cursor"></div>
  <div id="loader">
    <div class="flex gap-2 h-32 items-end">
      <div class="loader-bar"></div>
      <div class="loader-bar"></div>
      <div class="loader-bar"></div>
      <div class="loader-bar"></div>
      <div class="loader-bar"></div>
    </div>
    <h1 class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-neo-bg font-display font-bold text-6xl mix-blend-exclusion">ЗАВАНТАЖЕННЯ</h1>
  </div>
  {{- partial "nav.html" . -}}
  <main id="smooth-wrapper">
    <div id="smooth-content">
      {{- block "main" . }}{{- end }}
    </div>
  </main>
  {{- partial "footer.html" . -}}
  {{- partial "scripts.html" . -}}
</body>
</html>
